<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a2daydelivery">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".customerfoodpanel.OrderDish"></activity>
        <activity android:name=".Shipper_sendotp" />
        <activity android:name=".Shipper_verifyphone" />
        <activity android:name=".cheffoodpanel.UpdateDelete_Dish" />
        <activity android:name=".ShipperRegistration" />
        <activity android:name=".ShipperFoodPanel_BottomNavigation" />
        <activity android:name=".CustomerFoodPanelNavigation" />
        <activity android:name=".cheffoodpanel.Chef_postDish" />
        <activity android:name=".ShipperForgotPassword" />
        <activity android:name=".Shipper_Login" />
        <activity android:name=".ChefForgotPassword" />
        <activity android:name=".ChefFoodPanel_BottomNavigation" />
        <activity android:name=".VerifyPhone" />
        <activity android:name=".sendotp" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".Chefsendotp" />
        <activity android:name=".ChefVerifyPhone" />
        <activity android:name=".Shipper_Loginphone" />
        <activity android:name=".Registration" />
        <activity android:name=".Loginphone" />
        <activity android:name=".Login" />
        <activity android:name=".ChefRegistration" />
        <activity android:name=".Chefloginphone" />
        <activity android:name=".Cheflogin" />
        <activity android:name=".ChooseOne" />
        <activity android:name=".MainMenu" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>